#
# System Settings
#
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_360=y

#
# SPI RAM config
#
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
CONFIG_SPIRAM_SPEED_200M=y

#
# IO File Configuration
#
CONFIG_GMF_IO_FILE_READ_CACHE_SIZE=65536

#
# Wi-Fi Remote
#
CONFIG_SLAVE_IDF_TARGET_ESP32C6=y
CONFIG_ESP_WIFI_REMOTE_LIBRARY_HOSTED=y
CONFIG_EXAMPLE_CONNECT_WIFI=y
