#
# System Settings
#
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_360=y

CONFIG_AUDIO_BOARD="ESP32_P4_DEV_V14"

#
# SPI RAM config
#
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
CONFIG_SPIRAM_SPEED_200M=y

#
# Wi-Fi Remote
#
CONFIG_SLAVE_IDF_TARGET_ESP32C6=y
CONFIG_ESP_WIFI_REMOTE_LIBRARY_HOSTED=y
CONFIG_EXAMPLE_CONNECT_WIFI=y
