.config
*.o
*.pyc

# gtags
GTAGS
GRTAGS
GPATH

# emacs
.dir-locals.el

# emacs temp file suffixes
*~
.#*
\#*#
# MacOS directory files
.DS_Store

# eclipse setting
.settings

# Example project files

**/sdkconfig
**/sdkconfig.old
**/sdkconfig.bmgr_board.old
**/build
**/managed_components
**/dependencies.lock
**/dist
**/gen_bmgr_codes/
**/logs/

# Doc build artifacts
docs/_build/
docs/*/_build/
docs/*/doxygen-warning-log.txt
docs/*/sphinx-warning-log.txt
docs/*/sphinx-warning-log-sanitized.txt
docs/*/xml/
docs/*/xml_in/
docs/*/man/
docs/*/doxygen_sqlite3.db
docs/venv/

# gcov coverage reports
*.gcda
*.gcno
coverage.info
coverage_report/

.vscode
.cache/
