#
# Bootloader config
#
CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y

#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASH_MODE_AUTO_DETECT=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASH_SAMPLE_MODE_STR=y
CONFIG_ESPTOOLPY_FLASHMODE="dio"
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHFREQ="80m"
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"

#
# Compiler options
#
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_COMPILER_DISABLE_DEFAULT_ERRORS=y
# end of Compiler options

#
# ESP PSRAM
#
CONFIG_SPIRAM=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_ALLOW_STACK_EXTERNAL_MEMORY=y

CONFIG_FATFS_LFN_HEAP=y

CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y
# CONFIG_FREERTOS_USE_LIST_DATA_INTEGRITY_CHECK_BYTES is not set
CONFIG_FREERTOS_VTASKLIST_INCLUDE_COREID=y
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y

#
# GMF IO (only codec device reader is used)
#
CONFIG_GMF_IO_INIT_CODEC_DEV_RX=y
CONFIG_GMF_IO_INIT_CODEC_DEV_TX=n
CONFIG_GMF_IO_INIT_FILE_READER=n
CONFIG_GMF_IO_INIT_FILE_WRITER=n
CONFIG_GMF_IO_INIT_FLASH_READER=n
CONFIG_GMF_IO_INIT_HTTP_READER=n
CONFIG_GMF_IO_INIT_HTTP_WRITER=n

#
# GMF Audio Effects (unused)
#
CONFIG_GMF_AUDIO_EFFECT_INIT_ALC=n
CONFIG_GMF_AUDIO_EFFECT_INIT_CH_CVT=n
CONFIG_GMF_AUDIO_EFFECT_INIT_BIT_CVT=n
CONFIG_GMF_AUDIO_EFFECT_INIT_RATE_CVT=n
CONFIG_GMF_AUDIO_EFFECT_INIT_ASRC=n
CONFIG_GMF_AUDIO_EFFECT_INIT_DEINTERLEAVE=n
CONFIG_GMF_AUDIO_EFFECT_INIT_INTERLEAVE=n
CONFIG_GMF_AUDIO_EFFECT_INIT_MIXER=n
CONFIG_GMF_AUDIO_EFFECT_INIT_EQ=n
CONFIG_GMF_AUDIO_EFFECT_INIT_DRC=n
CONFIG_GMF_AUDIO_EFFECT_INIT_MBC=n
CONFIG_GMF_AUDIO_EFFECT_INIT_HOWL=n
CONFIG_GMF_AUDIO_EFFECT_INIT_SONIC=n
CONFIG_GMF_AUDIO_EFFECT_INIT_FADE=n

#
# GMF Miscellaneous (unused)
#
CONFIG_GMF_MISC_INIT_COPIER=n

#
# GMF Video Effects (unused)
#
CONFIG_GMF_VIDEO_EFFECTS_INIT_PPA=n
CONFIG_GMF_VIDEO_EFFECTS_INIT_FPS_CONVERT=n
CONFIG_GMF_VIDEO_EFFECTS_INIT_OVERLAY=n
CONFIG_GMF_VIDEO_EFFECTS_INIT_SCALE=n
CONFIG_GMF_VIDEO_EFFECTS_INIT_CROP=n
CONFIG_GMF_VIDEO_EFFECTS_INIT_ROTATE=n
CONFIG_GMF_VIDEO_EFFECTS_INIT_COLOR_CONVERT=n

#
# GMF Audio Codec (unused in WWE)
#
CONFIG_GMF_AUDIO_CODEC_INIT_DECODER=n
CONFIG_GMF_AUDIO_CODEC_INIT_ENCODER=n

#
# GMF Audio Muxer (unused)
#
CONFIG_GMF_AUDIO_MUXER_INIT=n

#
# GMF Video Codec (unused)
#
CONFIG_GMF_VIDEO_CODEC_INIT_DECODER=n
CONFIG_GMF_VIDEO_CODEC_INIT_ENCODER=n

#
# Audio Decoder Configuration
#
CONFIG_AUDIO_DECODER_AAC_SUPPORT=n
CONFIG_AUDIO_DECODER_MP3_SUPPORT=n
CONFIG_AUDIO_DECODER_G711_SUPPORT=n
CONFIG_AUDIO_DECODER_AMRNB_SUPPORT=n
CONFIG_AUDIO_DECODER_AMRWB_SUPPORT=n
CONFIG_AUDIO_DECODER_FLAC_SUPPORT=n
CONFIG_AUDIO_DECODER_OPUS_SUPPORT=n
CONFIG_AUDIO_DECODER_VORBIS_SUPPORT=n
CONFIG_AUDIO_DECODER_ADPCM_SUPPORT=n
CONFIG_AUDIO_DECODER_ALAC_SUPPORT=n
CONFIG_AUDIO_DECODER_PCM_SUPPORT=n
CONFIG_AUDIO_DECODER_SBC_SUPPORT=n
CONFIG_AUDIO_DECODER_LC3_SUPPORT=n
CONFIG_AUDIO_DECODER_G722_SUPPORT=n

#
# Audio Simple Decoder Configuration
#
CONFIG_AUDIO_SIMPLE_DEC_WAV_SUPPORT=n
CONFIG_AUDIO_SIMPLE_DEC_M4A_SUPPORT=n
CONFIG_AUDIO_SIMPLE_DEC_TS_SUPPORT=n
CONFIG_AUDIO_SIMPLE_DEC_OGG_SUPPORT=n

#
# Audio Encoder Configuration
#
CONFIG_AUDIO_ENCODER_AAC_SUPPORT=n
CONFIG_AUDIO_ENCODER_G711_SUPPORT=n
CONFIG_AUDIO_ENCODER_AMRNB_SUPPORT=n
CONFIG_AUDIO_ENCODER_AMRWB_SUPPORT=n
CONFIG_AUDIO_ENCODER_OPUS_SUPPORT=n
CONFIG_AUDIO_ENCODER_ADPCM_SUPPORT=n
CONFIG_AUDIO_ENCODER_ALAC_SUPPORT=n
CONFIG_AUDIO_ENCODER_PCM_SUPPORT=n
CONFIG_AUDIO_ENCODER_SBC_SUPPORT=n
CONFIG_AUDIO_ENCODER_LC3_SUPPORT=n
CONFIG_AUDIO_ENCODER_G722_SUPPORT=n

#
# ESP_Muxer Configuration
#
CONFIG_ESP_MUXER_MP4_SUPPORT=n
CONFIG_ESP_MUXER_TS_SUPPORT=n
CONFIG_ESP_MUXER_OGG_SUPPORT=n
CONFIG_ESP_MUXER_WAV_SUPPORT=n
CONFIG_ESP_MUXER_FLV_SUPPORT=n
CONFIG_ESP_MUXER_CAF_SUPPORT=n
CONFIG_ESP_MUXER_AVI_SUPPORT=n

#
# Video Decoder Configuration
#
CONFIG_VIDEO_DECODER_SW_H264_SUPPORT=n
CONFIG_VIDEO_DECODER_SW_MJPEG_SUPPORT=n
CONFIG_VIDEO_DECODER_HW_MJPEG_SUPPORT=n

#
# Video Encoder Configuration
#
CONFIG_VIDEO_ENCODER_HW_H264_SUPPORT=n
CONFIG_VIDEO_ENCODER_SW_H264_SUPPORT=n
CONFIG_VIDEO_ENCODER_HW_MJPEG_SUPPORT=n
CONFIG_VIDEO_ENCODER_SW_MJPEG_SUPPORT=n
