# Unity interactive menu runner
CONFIG_ESP_TASK_WDT_INIT=n
CONFIG_ESP_GDBSTUB_ENABLED=y
CONFIG_UNITY_ENABLE_64BIT=y
CONFIG_UNITY_CRITICAL_LEAK_LEVEL_GENERAL=1400
CONFIG_COMPILER_DISABLE_DEFAULT_ERRORS=y

#
# ESP Speech Recognition (common)
#
CONFIG_MODEL_IN_FLASH=y
CONFIG_AFE_INTERFACE_V1=y
CONFIG_SR_NSN_WEBRTC=y
CONFIG_SR_VADN_WEBRTC=y

#
# GMF AI Audio
#
CONFIG_GMF_AI_AUDIO_INIT_AEC=y
CONFIG_GMF_AI_AUDIO_AEC_FILTER_LEN=4
CONFIG_GMF_AI_AUDIO_AEC_CH_ALLOCATION="RMNM"
