#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y

#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

#
# Compiler options
#
CONFIG_COMPILER_OPTIMIZATION_PERF=y

#
# FreeRTOS
#
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y

#
# ESP PSRAM
#
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_FREERTOS_TASK_CREATE_ALLOW_EXT_MEM=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=1024

#
# FAT Filesystem support
#
CONFIG_FATFS_LFN_HEAP=y
CONFIG_FATFS_VFS_FSTAT_BLKSIZE=0

#
# GMF IO Reader
#
CONFIG_GMF_IO_INIT_FILE_READER=y
CONFIG_GMF_IO_FILE_READ_CACHE_SIZE=4096
CONFIG_GMF_IO_INIT_CODEC_DEV_RX=n
CONFIG_GMF_IO_INIT_FLASH_READER=n
CONFIG_GMF_IO_INIT_HTTP_READER=n

#
# GMF IO Writer
#
CONFIG_GMF_IO_INIT_CODEC_DEV_TX=y
CONFIG_GMF_IO_INIT_FILE_WRITER=n
CONFIG_GMF_IO_INIT_HTTP_WRITER=n

#
# GMF Audio Codec
#
CONFIG_GMF_AUDIO_CODEC_INIT_DECODER=y
CONFIG_GMF_AUDIO_CODEC_DECODER_TYPE_MP3=y
CONFIG_GMF_AUDIO_CODEC_INIT_ENCODER=n

#
# GMF Audio Effects
#
CONFIG_GMF_AUDIO_EFFECT_INIT_CH_CVT=y
CONFIG_GMF_AUDIO_EFFECT_CH_CVT_DEST_CH=2
CONFIG_GMF_AUDIO_EFFECT_INIT_BIT_CVT=y
CONFIG_GMF_AUDIO_EFFECT_BIT_CVT_DEST_BITS=16
CONFIG_GMF_AUDIO_EFFECT_INIT_RATE_CVT=y
CONFIG_GMF_AUDIO_EFFECT_RATE_CVT_DEST_RATE=16000
CONFIG_GMF_AUDIO_EFFECT_RATE_CVT_COMPLEXITY=2
CONFIG_GMF_AUDIO_EFFECT_RATE_CVT_PERF_TYPE_SPEED=y
CONFIG_GMF_AUDIO_EFFECT_RATE_CVT_PERF_TYPE=1

#
# GMF AI Audio
#
CONFIG_GMF_AI_AUDIO_INIT_AEC=n
CONFIG_GMF_AI_AUDIO_INIT_WN=n
CONFIG_GMF_AI_AUDIO_INIT_AFE=n

#
# GMF Miscellaneous
#
CONFIG_GMF_MISC_INIT_COPIER=y

CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART_BAUDRATE=1000000
