#
# Serial flasher config
#
CONFIG_ESPTOOLPY_BEFORE_RESET=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y

#
# Partition Table
#
CONFIG_PARTITION_TABLE_SINGLE_APP=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0xA000
CONFIG_PARTITION_TABLE_MD5=y

#
# Compiler options
#
CONFIG_COMPILER_OPTIMIZATION_PERF=y

#
# FreeRTOS
#
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y

#
# ESP PSRAM
#
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y
CONFIG_FREERTOS_TASK_CREATE_ALLOW_EXT_MEM=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=128

#
# FAT Filesystem support
#
CONFIG_FATFS_LFN_HEAP=y

#
# GMF IO Reader
#
CONFIG_GMF_IO_INIT_CODEC_DEV_RX=y
CONFIG_GMF_IO_INIT_FILE_READER=y
CONFIG_GMF_IO_INIT_FLASH_READER=n
CONFIG_GMF_IO_INIT_HTTP_READER=n

#
# GMF IO Writer
#
CONFIG_GMF_IO_INIT_CODEC_DEV_TX=y
CONFIG_GMF_IO_INIT_FILE_WRITER=n
CONFIG_GMF_IO_INIT_HTTP_WRITER=n

#
# GMF Audio Codec (WAV only for embedded PCM)
#
CONFIG_GMF_AUDIO_CODEC_INIT_DECODER=y
CONFIG_GMF_AUDIO_CODEC_INIT_ENCODER=n
CONFIG_GMF_AUDIO_CODEC_DECODER_TYPE_WAV=y

#
# GMF Audio Effects: only HOWL (disable other defaults to reduce image size)
#
CONFIG_GMF_AUDIO_EFFECT_INIT_CH_CVT=y
CONFIG_GMF_AUDIO_EFFECT_INIT_BIT_CVT=y
CONFIG_GMF_AUDIO_EFFECT_INIT_RATE_CVT=y
CONFIG_GMF_AUDIO_EFFECT_INIT_MIXER=y
CONFIG_GMF_AUDIO_EFFECT_MIXER_SRC_NUM=2
CONFIG_GMF_AUDIO_EFFECT_MIXER_SRC_NUM=2
CONFIG_GMF_AUDIO_EFFECT_MIXER_SRC1_WEIGHT1=50
CONFIG_GMF_AUDIO_EFFECT_MIXER_SRC1_WEIGHT2=100
CONFIG_GMF_AUDIO_EFFECT_MIXER_SRC1_TRANSIT_TIME=100
CONFIG_GMF_AUDIO_EFFECT_MIXER_SRC2_WEIGHT1=50
CONFIG_GMF_AUDIO_EFFECT_MIXER_SRC2_WEIGHT2=100
CONFIG_GMF_AUDIO_EFFECT_MIXER_SRC2_TRANSIT_TIME=100

CONFIG_GMF_AUDIO_EFFECT_INIT_HOWL=y
CONFIG_GMF_AUDIO_EFFECT_HOWL_PAPR_X10=80
CONFIG_GMF_AUDIO_EFFECT_HOWL_PHPR_X10=450
CONFIG_GMF_AUDIO_EFFECT_HOWL_PNPR_X10=450
CONFIG_GMF_AUDIO_EFFECT_HOWL_IMSD_X10=50
CONFIG_GMF_AUDIO_EFFECT_HOWL_ENABLE_IMSD=y
