CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y

#
# Serial flasher config
#
CONFIG_ESPTOOLPY_BEFORE_RESET=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
# end of Serial flasher config

#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y
# end of Partition Table

CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_FREERTOS_HZ=1000

CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y
CONFIG_SPIRAM_ALLOW_STACK_EXTERNAL_MEMORY=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=1024
CONFIG_SPIRAM_TYPE_AUTO=y

#
# ESP GMF Loader
#

#
# GMF IO Configurations
#

#
# GMF IO Reader
#
CONFIG_GMF_IO_INIT_CODEC_DEV_RX=y
CONFIG_GMF_IO_INIT_HTTP_READER=n
CONFIG_GMF_IO_INIT_FILE_READER=n
CONFIG_GMF_IO_INIT_FLASH_READER=n
# end of GMF IO Reader

#
# GMF IO Writer
#
CONFIG_GMF_IO_INIT_HTTP_WRITER=y
CONFIG_GMF_IO_INIT_FILE_WRITER=n
# end of GMF IO Writer
# end of GMF IO Configurations

#
# GMF Audio Configurations
#

#
# PCM Encoder Configuration
#
CONFIG_GMF_AUDIO_CODEC_INIT_ENCODER=y
CONFIG_GMF_AUDIO_CODEC_ENCODER_TYPE_PCM=y
# end of PCM Encoder Configuration

#
# GMF Audio Codec
#
CONFIG_GMF_AUDIO_CODEC_INIT_DECODER=n
# end of GMF Audio Codec
