#
# WiFi Configuration
#
CONFIG_EXAMPLE_WIFI_SSID="${CI_WIFI_SSID}"
CONFIG_EXAMPLE_WIFI_PASSWORD="${CI_WIFI_PASSWORD}"
CONFIG_EXAMPLE_HTTP_SERVER_URL="${CI_HTTP_SERVER_URL}"
# end of WiFi Configuration
